// app global css
h1
  font-size: 1.6em

h2 
  font-size 1.4em

h3 
  font-size 1.2em

h4 
  font-size 1.1em

h5 
  font-size 1.0em

h6 
  font-size 1.0em

p
  line-height 1.5
  margin-bottom 0.8em

p:last-child {
  margin-bottom 0em
}

h1, h2, h3, h4, h5, h6, ul, ol, dl 
  margin 0.5em 0em
  outline none
  border 0

blockquote 
  border-left 3px #027be3 solid
  margin 1em 0em
  font-size 1em

blockquote > p {
  margin 0em
}

h1, h2, h3, h4, h5, h6 
  line-height 1.35

h1, h2, h3, h4, h5 
  font-weight bold



img 
  width 100%

pre
  width 100%
  overflow auto
  font-size 0.8rem

span.mjx-chtml
  outline none

div.midi-container
  margin-bottom 0.5em